.tooltip-container {
    background-color: white;
    width: 500px;
    padding: 16px;
    border-radius: 16px;
    z-index: 99999;
    position: relative;
    /* border: 1px solid var(--gris-50, #7F7F7F); */
}

.header {
    box-shadow: 0 0 3px rgba(51, 101, 180, 0.2);
}

@media print {
    .header {
        display: none;
    }
}