.box-filtro {
    display: flex;
    justify-content: flex-start;
}

.container-filtro {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    background: var(--Blanco, #FFF);
    width: 248px;
    margin-right: 16px;
    padding-inline-start: 24px;
    padding-block-start: 24px;
}

@media (width <= 425px) {
    .container-filtro {
        display: none;
    }
}

@media (width < 800px) {
    .container-filtro {
        margin-right: 0;
    }
}

.custom-form-check-label {
    color: var(--Negro, #000);
    /* Titulo/16px Bold */
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container-service-type,
.container-service-schedule {
    width: 100%;
    margin-block-start: 12px;
}

.container-service-schedule div {
    margin-block-end: 8px;
}

.container-filtro .container-service-type div {
    margin-top: 12px
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #3F64AE;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-inline-end: 8px;
}

.checkbox-round:checked {
    background-color: var(--Naranjo, #FF6500);
    border: 5px double #fff;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .box-filtro {
        display: flex;
        justify-content: flex-start;
        height: 50%;
    }

    .container-filtro {
        width: 100%;
        height: 100%;
        padding-bottom: 3%;
        margin-bottom: 3%;
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    .box-filtro {
        display: flex;
        justify-content: flex-start;
        height: 50%;
    }

    .container-filtro {
        width: 100%;
        height: 45%;
        padding-bottom: 3%;
        margin-bottom: 3%;
    }
}

@media (min-width: 1001px) {
    .box-filtro {
        display: flex;
        justify-content: flex-start;
        height: 50%;
        width: 240px;
    }

    .container-filtro {
        width: 240px;
        height: 50%;
        padding-bottom: 3%;
        margin-bottom: 3%;
    }
}