
.home {
    background: var(--Azul-fondo, #E6ECF6);
    margin: 0;
    display: grid;
    place-items: center;
}

.container{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1039px;
    height: 1108px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--Blanco, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.image{
    width: 112px;
    height: 117px;
    padding: 6.882px 3.393px 0px 0px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
     
}

.image-check{
    width: 48px;
    height: 48px;
    padding: 6.882px 3.393px 0px 0px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 60px;
    margin-left: -45px;  
}

.title{
    color: var(--azul-100, #3365B4);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sub-title{
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.orden {
    width: 514px;
    height: 63px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--azul-100, #3365B4);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--Blanco, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    /* Centrar el contenido */
    display: flex;
    align-items: center;
    justify-content: center;
}

.data-passenger{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.data-cuponera{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.name{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.id{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dotted {
    height: 0px;
    flex-shrink: 0;
    color: #000;
    stroke-width: 1px;
    stroke: #000;
    width: 936px;
    flex-shrink: 0;
    height: 1px;
    border-style: dashed;
    border-width: 1px; 
}

.dotted-line {
    width: 310px;
    height: 1px;
    flex-shrink: 0;
    border-bottom: 1px solid #000;
}

.container-cuponera{
    width: 300px;
    height: 250px;   
    
}

.price {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.price-final {
    color: var(--naranjo-100, #FF6500);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pay-for {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 120px;
}

.detail-pay{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 120px;
    margin-top: -65px;
}

.button-home{
    display: flex;
    width: 384px;
    height: 40px;
    align-items: flex-start;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    border-radius: 16px;
    background: var(--naranjo-100, #FF6500);
    color: var(--Blanco, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.image-download{
    width: 24px;
    height: 24px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; 
}


.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    background: var(--Blanco, #FFF);
    margin-inline: auto;
    margin-block-start: 64px;
    margin-block-end: 109px;
    padding-block: 52px;
    padding-inline: 51px;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.main-section h1 {
    color: var(--azul-100, #3365B4);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-block: 16px
}

.main-section .images-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.main-section .images-container .confirmado-image {
    margin-inline-start: -35px;
}

.main-section .compra-realizada {
    max-width: 714px;
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-section .orden-compra {
    margin-block: 16px;
    display: flex;
    padding: 16px 103px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: var(--azul-100, #3365B4);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--Blanco, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-section .detalle-viajes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding-block: 16px;
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
}

.detalle-viajes .servicio-ida, .detalle-viajes .servicio-vuelta {
    padding: 8px;
    width: 350px;
}

.detalle-container {
    margin-top: 16px;
}

.detalle-item ul {
    list-style-type: none;
    padding-left: 0;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}

.detalle-item ul li {
    position: relative;
    margin: 0;
    padding-bottom: 1em;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.detalle-item ul li:before {
    content: '';
    border: 0.1em dashed #FF6500;
    position: absolute;
    bottom: 0px;
    top: 10px;
    left: 5px;
}

.detalle-item ul li:after {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #FF6500;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 7px;
}

.detalle-item ul li:last-child::before {
    top: 1px;
    bottom: 20px !important;
}

.resumen-servicio {
    display: flex;
    justify-content: space-between;
    padding-block: 16px;
    border-top: 1px dotted #000;
    border-bottom: 1px dotted #000;
}

.resumen-servicio-detalle {
    display: flex;
    justify-content: space-between;
    padding-block: 16px;
    border-bottom: 1px dotted #000;
}

.resumen-pago {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding-block: 32px;
    border-bottom: 1px dashed #000;
}

.resumen-pago .contenedor-metodo-pago {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.resumen-pago .contenedor-metodo-pago span img {
    margin-left: 16px;
}

.resumen-pago .contenedor-total-pagar {
    display: flex;
    align-items: center;
    gap: 75px;
}

.resumen-pago .contenedor-total-pagar strong {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.resumen-pago .contenedor-total-pagar span {
    color: var(--naranjo-100, #FF6500);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.action-container {
    display: flex;
    justify-content: space-around;
    padding-block: 32px;
    width: 100%;
}

.action-container .contenedor-descarga-boletos {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 8px;
    cursor: pointer;
}

.action-container .contenedor-descarga-boletos span {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

.action-container .contenedor-volver-inicio {
    display: flex;
    align-items: center;
    min-width: 300px;
}

.btn {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    border-radius: 16px;
    background: var(--naranjo-100, #FF6500);
    color: white;
    width: 100%;
}

.btn:hover {
    color: white;
}


.image-download{
    width: 24px;
    height: 24px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; 
}

.contenedor-codigo-seguridad {
    display: none !important;
}

.codigo-seguridad {
    flex-shrink: 0;
    border-radius: 16px;
    color: var(--Blanco, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-block: 16px;

    /* Centrar el contenido */
    display: flex;
    align-items: center;
    justify-content: center;
}

@media print {

    .contenedor-codigo-seguridad {
        display: flex !important;
    }

    .compra-realizada {
        display: none;
    }

    .main-section .orden-compra{
        display: none;
    }

    .data-cuponera {
        display: none;
    }

    .dotted {
        display: none;
    }

    .data-passenger {
        display: none;
    }

    .sub-title {
        display: none;
    }
 
    .contenedor-metodo-pago{
        display: none;
    }

    .action-container{
        display: none;
    }

    .dotted{
        display: none;
    }

    .dotted-line {
        display: none;
    }
}
