.grill-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: slideOut 0.2s forwards;
}

.grill-detail.show {
  animation: slideIn 0.2s forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-10%);
    opacity: 0;
  }
}

.cross-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cross-container .cross {
  display: flex;
  justify-content: flex-end;
  padding-inline-end: 20px;
  padding-block: 20px;
  cursor: pointer;
}

.bus {
  padding: 5px 15px;
  background-color: #e6ecf6;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 60%;
  max-width: 465px;
}

.bus .fila {
  min-width: 24px;
  display: flex;
  flex-direction: column;
  padding: 3px;
}

.bus .fila .imagen-volante {
  width: 24px;
  flex-shrink: 0;
  margin: auto 0 0 8px;
}

.bus .fila .columna {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 5px;
  margin: 5px;
}

.contenedor-bus {
  display: flex;
  width: 100%;
  margin-block: 20px;
}

.bus .fila .columna img {
  position: absolute;
  width: 25px;
  height: auto;
  transform: rotate(90deg);
  color: var(--naranjo);
}

.bus .fila .columna span {
  display: block;
  width: 100%;
  font-size: 10px;
  text-align: center;
  padding-inline-end: 2px;
  transform: rotate(90deg);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.bus .fila .disponible {
  color: var(--naranjo);
  cursor: pointer;
}

.linea-piso-1 {
  margin: auto;
}

.disponibilidad-bus {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.disponibilidad-bus .estados-disponibilidad {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 16px;
}

.disponibilidad-bus .estados-disponibilidad div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.disponibilidad-bus .estados-disponibilidad div span {
  margin-left: 16px;
}

.disponibilidad-bus .estados-disponibilidad div div {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.disponibilidad-bus .estados-disponibilidad div .asiento-disponible {
  border: 3px solid #ff6500;
}

.disponibilidad-bus .estados-disponibilidad div .asiento-seleccionado {
  border: 3px solid #3365b4;
}

.disponibilidad-bus .estados-disponibilidad div .asiento-reservado {
  border: 3px solid #7f7f7f;
}

.botones-inferiores {
  display: flex;
  flex-direction: column;
}

.botones-inferiores .botones-seleccion-piso {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block-start: 24px;
}

.botones-inferiores .botones-seleccion-piso .seleccion-pisos {
  display: flex;
  flex-direction: row;
}

.botones-inferiores .botones-seleccion-piso .seleccion-pisos div {
  margin-inline: 4px;
  cursor: default;
}

.botones-inferiores .botones-pago {
  display: flex;
  flex-direction: column;
  margin-block-start: 20px;
  align-items: flex-end;
}

.botones-inferiores .botones-pago div {
  margin-block: 4px;
}

.botones-inferiores .botones-pago .texto-cantidad-asientos {
  color: #000;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.bano {
  color: var(--naranjo);
  width: 24px;
  height: 24px;
}

.vacio {
  width: 24px;
  height: 25.2px;
}

.bus .fila .reservado {
  cursor: not-allowed;
  color: #9a9a9a;
}

.bus .fila .seleccion {
  cursor: pointer;
  color: #3365b4;
}

.bus .fila .m-disponible {
  cursor: pointer;
  transform: rotate(180deg) !important;
  color: transparent;
}

.bus .fila .m-seleccion {
  cursor: pointer;
  transform: rotate(180deg) !important;
  color: transparent;
}

.bus .fila .m-reservado {
  cursor: pointer;
  transform: rotate(180deg) !important;
  color: transparent;
}

.bus .fila .conductor {
  background-image: url(../../../public/img/conductor.svg);
}

.floor-button-selected {
  background: var(--azul-100, #3365b4) !important;
}

.floor-button {
  display: flex;
  width: 88px;
  height: 28px;
  padding: 2px 18px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 16px;
  background: var(--azul-50, #98b1d9);
}

.floor-button span {
  color: var(--Blanco, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button_continue {
  display: flex;
  width: 214px;
  padding: 4px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: var(--naranjo-100, #ff6500);
  cursor: default;
}

.button_continue:hover {
  background: var(--naranjo-80, #ff8a00);
}

.button_continue span {
  color: var(--Blanco, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
}

.button_continue:active {
  background: var(--naranjo-80, #f8ccaf);
}

.button_little_car {
  display: flex;
  width: 214px;
  padding: 4px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid var(--naranjo-100, #ff6500);
  background: var(--naranjo-25, #ffd8bf);
}

.button_little_car span {
  color: var(--naranjo-100, #ff6500);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 435px) {
  .botones-inferiores {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (width <= 425px) {
  .bus .fila .columna span {
    transform: rotate(0deg);
  }

  .grill-detail {
    align-items: center;
    height: 100%;
    padding-top: 14px;
  }

  .disponibilidad-bus {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: auto;
    flex-direction: column-reverse;
    align-content: space-between;
    gap: 15px;
  }

  .bus {
    height: auto;
    align-items: center;
    transform: rotate(90deg);
    display: block;
  }

  .botones-inferiores .botones-pago {
    align-items: center;
  }

  .botones-inferiores .botones-seleccion-piso {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-block-start: 24px;
  }

  .botones-inferiores .botones-seleccion-piso {
    display: flex;
    width: 184px;
    height: 28px;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
  }
}

@media (width <= 425px) {
  .cross-container {
    display: none;
  }
}
