.grill-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block-start: 25px;
}

.cross-container {
    width: 100%;
    display: flex;
    justify-content: end;
}

.cross-container .cross {
    display: flex;
    justify-content: flex-end;
    padding-inline-end: 20px;
    padding-block: 20px;
    cursor: pointer;
}

.bus {
    padding: 5px 15px;
    background-color: #E6ECF6;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    width: 465px;
    height: 144px;
}

.bus img {
    width: 6px;
}

.bus .fila {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.bus .fila .columna img {
    width: 24px;
    height: 24px;
    transform: rotate(-90deg);
    flex-shrink: 0;
    padding-bottom: 20px;
}

.bus .fila .columna {
    width: 38px;
    height: 38px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
}

.bus .fila .columna span {
    display: block;
    width: 100%;
    font-size: 15px;
    text-align: center;
    padding-top: 2px;
    transform: rotate(90deg);
}

.bus .fila .columna.disponible {
  background-image: url(../../../public/img/a-disponible.svg);
  color: var(--naranjo);
}

.bus .fila .columna.reservado {
  background-image: url(../../../public/img/a-reservado.svg);
  color: #9A9A9A;
}

.bus .fila .columna.seleccion {
  background-image: url(../../../public/img/a-seleccionado.svg);
  color: #fff;
}

.bus .fila .columna.bano {
    background-image: url(../../../public/img/a-bano.svg);
    transform: rotate(0deg);
}

.bus .fila .columna.m-disponible {
    background-image: url(../../../public/img/am-disponible.svg);
}

.bus .fila .columna.m-seleccion {
    background-image: url(../../../public/img/am-seleccionado.svg);
}

.bus .fila .columna.m-reservado {
    background-image: url(../../../public/img/am-reservado.svg);
}

.bus .fila .columna.conductor {
    background-image: url(../../../public/img/conductor.svg);
}