.grill-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block-start: 25px;
}

.cross-container {
    width: 100%;
    display: flex;
    justify-content: end;
}

.cross-container .cross {
    display: flex;
    justify-content: flex-end;
    padding-inline-end: 20px;
    padding-block: 20px;
    cursor: pointer;
}