.container {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 85%;
    height: 150px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--azul-100, #3365B4);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.20);
    margin: 8%;
}


.container label {
    margin-bottom: 10px;
    color: var(--Blanco, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fondo-cambio {
    width: 1039px;
    height: 644px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--Blanco, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 0px 24px 16px 24px
}

.grupo-campos {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;

}

.cambio-title h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 20px;

}

.search-row {
    width: 111%;
    height: 125px;
    flex-shrink: 0;
}

.button-search-coupon {
    display: flex;
    width: 70%;
    height: 40px;
    padding: 0px 52px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--naranjo-100, #FF6500);
    color: var(--Blanco, #FFF);
    font-size: 16px;
    border: 1px solid var(--azul-50, #98B1D9);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.button-search-coupon:hover {
    cursor: pointer;
}



.button-search-coupon:active {
    background: var(--naranjo-80, #f8ccaf);
}

.button-search-coupon-disabled {
    display: flex;
    width: 70%;
    height: 40px;
    padding: 0px 52px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid var(--azul-50, #98B1D9);
    background: var(--naranjo-80, #f8ccaf);
    color: var(--Blanco, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.input {
    display: flex;
    width: 352px;
    height: 40px;
    padding: 8px;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--azul-50, #98B1D9);
    border-radius: 16px;
}



@media screen and (max-width: 390px) {

    .fondo-cambio {
        display: flex;
        width: 315px;
        padding: 16px 8px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        margin-left: 35px;
        margin-right: 38px;
        border-radius: 16px;
        background: var(--Blanco, #FFF);
    }

    .container {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 85%;
        height: 220px;
    }

    .button-search-coupon,
    .button-search-coupon-disabled {
        margin: 0% 0%;
        width: 100%;
    }

    .input {
        width: 100%;
    }
}

@media screen and (min-width: 400px) and (max-width: 430px) {
    .container {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 85%;
        height: 220px;
        margin: 7%;
    }

    .button-search-coupon,
    .button-search-coupon-disabled {
        margin: 0% 0%;
        width: 100%;
    }

    .input {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 908px) {
    .container {
        margin-top: 12%;
        margin-bottom: 5%;
        width: 94%;
        height: 224px;
        margin-left: 3%;
    }

    .button-search-coupon,
    .button-search-coupon-disabled {
        margin: 0% 0%;
        width: 100%;
    }

    .input {
        width: 100%;
    }
}