.menu-central {
    margin-top: 25px;
    border-radius: 16px;
    background: var(--Blanco, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 33px 44px;
}

.contenedor-historial {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.boleto {
    background-image: url(../../../public/img/Boleto_Interno.png) !important;
    background-repeat: no-repeat;
    height: 168px;
    width: 609px;
    fill: var(--Blanco, #FFF);
    stroke-width: 1px;
    stroke: var(--gris-15, #D9D9D9);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-block: 16px;
    padding-inline: 32px;
    position: relative;
    z-index: 2;
    margin-inline: auto;
    background-size: contain;
    background-position: center;
}

.origen-destino {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 16px;
    padding-inline: 24px;
}

.linea-divisora {
    width: 90%;
    border-bottom: 1px dashed black;
    margin-inline: auto;
    height: 20px;
}

.linea-divisora img {
    position: absolute;
    top: 62px;
}

.informacion-adicional {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.tabla-informacion {
    margin-top: 24px;
}

.boton-descargar {
    text-align: center;
}

.boton-descargar img {
    cursor: pointer;
}

.tabla-informacion thead tr th{
    color: black !important;
}

@media ( width <= 750px ) {
    .boleto {
        width: 400px;
        /* height: 200px; */
        /* background-size: cover;
        resize: both; */
    }
}