.container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-inline: auto;
    width: 90%;
    padding: 24px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--azul-100, #3365B4);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.20);
}

.container label {
    color: var(--Blanco, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




.button-search-coupon, .button-search-coupon-disabled {
    display: flex;
    width: 75%;
    height: 100%;
    margin: 8% auto;
    padding: 0px 52px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--naranjo-100, #FF6500);
    color: var(--Blanco, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.button-search-coupon:active {
    background: var(--naranjo-80, #f8ccaf); 
}

.button-search-coupon-disabled {
    background: var(--naranjo-80, #f8ccaf);
    cursor: not-allowed;
}

@media screen and (max-width: 380px) {
    .button-search-coupon, .button-search-coupon-disabled {
        margin: 10% 2px;
        width: 20px;

        
    }
}