.container {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 969px;
    height: 147px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--azul-100, #3365B4);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.20);
}

.container label{
    color: var(--Blanco, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.grupo-campos {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.button-search-coupon {
    display: flex;
    width: 200px;
    height: 40px;
    padding: 0px 52px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    border-radius: 16px;
    background: var(--naranjo-100, #FF6500);
  
    color: var(--Blanco, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  
  }

.button-search-coupon:active {
    background: var(--naranjo-80, #f8ccaf); 
}

.button-search-coupon-disabled {
    display: flex;
    width: 200px;
    height: 40px;
    padding: 0px 52px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    border-radius: 16px;

    background: var(--naranjo-80, #f8ccaf);

    color: var(--Blanco, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}