.justify-around {
  justify-content: space-around;
}
.bg-grey {
  background-color: rgb(246, 248, 251) !important;
  color: #333 !important
}
.bloque-pasajero {
  width:100%;
  padding: 0px;
  margin-top: 10px;
  box-shadow: 0px 3px 8px 0px #d4dbec;
  border-radius: 10px;
  overflow: hidden;
}
.bloque-pasajero .header-pasajero {
  background-color: #FFF;
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;

}
.no-pointer {
  pointer-events: none;
  cursor: none;
}
.pointer {
  pointer-events: all;
}
.bloque-pasajero.active .header-pasajero {
  background-color: rgb(246, 248, 251);
  margin-bottom: 20px;
  
}
.bloque-pasajero .header-pasajero  h5 {
  font-size: 15px;
  padding-top: 8px;
}
.bloque-pasajero .content-pasajero {
  height: 0px;
  overflow: hidden;
}
.bloque-pasajero.active .content-pasajero {
  height: auto
}
.flex-col {
  flex-direction: column;
}

.react-select__control {
  background-color: transparent !important;
  border: none !important
}
.fade.show {
  display: block;
  background-color: rgba(255,255,255,0.8);
  
}
.modal .close {
  border-radius: 5px;
  border: solid 1px #ccc;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .modal-content {
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.20);
  border-radius: 10px;
  border: none

}
.sel-input {
  padding: 8px 6px 8px 45px;
  border-radius: 10px;
}
.patita-over {
  position: absolute;
  width: 60px;
  height: 30px;
  left: -10px;
  top: 5px;

}
.btn-fix {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  text-align: left;
  line-height: 18px;
  width: 100%;
  padding: 18px 8px;
}
.btn-fix img {margin-right: 8px; margin-left: 8px;}
.search-row {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.search-row .col-12 ,.search-row .col-6{
  flex-grow: 1;
  width: 20%;
}
.search-row .grupo-campos, .search-row input{
  margin-bottom: 0px;
}
.tipologia img {margin-right: 5px;}
@media (max-width: 991px) {
  .search-row {flex-wrap: wrap;}
  .search-row .col-12 {
    width: 100%
  }
  .search-row .col-6 {
    width: 50%
  }
  .pasajes-compra .bloque-filtro {
    display: none;
  }
}

.rotate-icon {
  transform: rotate(180deg);
}

:root {
  --size: 1;
  --background: #000;
  --color1: #d25778;
  --color2: #ec585c;
  --color3: #e7d155;
  --color4: #56a8c6;
}

.ticket {
  width: 90%;
  height: 320px;
  margin: 100px auto;
  position: relative;
  transition: all 300ms cubic-bezier(0.03, 0.98, 0.53, 0.99) 0s;
  border-radius: 16px;
  padding: 5px;
  box-shadow: 0px 0px 10px 0px #000000;
}

.ticket:before,
.ticket:after {
  content: "";
  display: block;
  position: absolute;
  top: 130px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 2;
}

.ticket:before {
  left: -30px;
}

.ticket:after {
  right: -30px;
}

.ticket-content-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff;
  border-radius: 15px;
}
.ticket-content-wrapper:before,
.ticket-content-wrapper:after {
  content: "";
  display: block;
  position: absolute;
  top: 130px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--Azul-fondo, #E6ECF6);;
  z-index: 3;
}

.ticket-content-wrapper:before {
  left: -30px;
}

.ticket-content-wrapper:after {
  right: -30px;
}

.left,
.right {
  position: absolute;
  top: 110px;
  width: 50px;
  height: 100px;
  background: var(--Azul-fondo, #E6ECF6);
  z-index: 4;
}

.left {
  left: -50px;
}

.right {
  right: -50px;
}

.form-check-input:checked {
  background-color: var(--Naranjo, #FF6500) !important;
  border-color: var(--Naranjo, #FF6500) !important;
}

.empty-grill {
  width: 776px;
}

@media (width <= 768px) {
  .empty-grill {
    width: 100%;
  }
}

.custom-error-page {
  display: flex;
  background-color: #E6ECF6;
  height: 100vh;
}

.custom-error-page div {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.custom-error-page div span {
  margin-top: 15px;
  font-weight: bold;
  color: #3365B4;
  font-size: 18px;
  max-width: 400px;
}

.custom-error-page div button {
  background-color: #FF6500;
  margin-top: 15px;
  padding-block: 10px;
  padding-inline: 50px;
  font-weight: bold;
  font-size: 16px;
}