.text-center {
    text-align: center !important;
}

.btn-modal-primary {
    width: 70%;
    display: block;
    margin: auto;
    padding: 10px 10px;
}

.btn-modal-secondary {
    width: 70%;
    padding: 10px 10px;
    color: var(--naranjo);
    background-color: #fff;
    display: block;
    margin: auto;
    margin-top: 10px;
    border: #ff9952 solid 1px;
}

.btn-modal-secondary:hover {
    color: #ff9952;
    background-color: #fff;
}

.btn-modal-link {
    border: 0px !important;
    background-color: #fff;
}

label.label-input-modal {
    font-size: 12px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.form-control-modal {
    font-size: 15px;
    border: 1px solid var(--gris-claro);
    border-radius: 10px;
    padding: 15px 25px;
    margin-bottom: 10px;
}

.form-control-modal:focus {
    /*outline: 1px solid var(--naranjo); !important;*/
    box-shadow: 0 0 0 0;
    border: 1px solid var(--naranjo);
}

select.form-control-modal,
input.fecha-input-modal,
.sel-input-modal {
    background-image: url('img/icon/select/chevron-down-circle-outline.svg');
    background-position: 14px center;
    background-repeat: no-repeat;
    padding-left: 40px;
    background-size: 20px 20px;
    color: black;
}

select.form-control-modal.fecha,
input.fecha-input-modal {
    background-image: url(img/icon-select-fecha.svg);
}