.accordion {
    margin-bottom: 10px;
    width: 100%;
}
  
.accordion-header {
    display: flex;
    height: 48px; 
    padding: 16px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px; 
    border-radius: 16px;
    background: var(--Blanco, #FFF);
  
}

.accordion-open {
    border-radius: 16px 16px 0 0 !important;
    border-bottom: 1px dashed var(--azul-100, #3365B4);
}

.accordion-header .travel-info {
    display: flex;
    flex-direction: row;
}

.accordion-header .travel-info :nth-child(2) {
    margin-inline: 32px;
}

.accordion-header .travel-info .travel-info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.accordion-header .travel-info .travel-info-item img {
    width: 32px;
}

.accordion-header .travel-info .travel-info-item span {
    margin-inline-start: 5px;
    margin-inline-end: 0 !important;
}

.accordion-header h3{
    color: var(--azul-100, #3365B4);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    margin: 0;
    
}
.accordion-header span{
    color: var(--azul-100, #3365B4);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.accordion-header-open {
    width: 32px;
    transform: rotate(180deg);
}

.accordion-header-close {
    width: 32px;
}

.accordion-content {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--Blanco, #FFF);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 16px; 
    padding-inline: 16px;
    padding-block-start: 10px;
}

.accordion-content-open {
    border-radius: 0 0 16px 16px !important;
}

.accordion-content.show {
    padding-block-start: 16px;
    display: flex;
    /* width: 644px; */
    height: auto;
    transition: max-height 0.3s ease-in-out;
}


@media (max-width:375px) {
    .accordion-header .travel-info :nth-child(2) {
        margin-inline: 0px;
    }
    .accordion {
        width: 102%;
    }
    .accordion-header {
        display: flex;
        height: auto; 
        padding: 5px;
        gap: 5px;
        
    }
    .accordion-header span{
        font-size: 15px;
    }
}

@media (min-width:376px) and (max-width:399px) {
    .accordion-header .travel-info :nth-child(2) {
        margin-inline: 0px;
    }
    .accordion-header {
        display: flex;
        height: 100%; 
        padding: 10px;
        gap: 9px;
    }
    .accordion-header span{
        font-size: 15px;
    }
}

@media (min-width:400px) {
    .accordion-header {
        padding: 10px;
        gap: 9px;
        height: 100%; 
        
    }
    .accordion-header span{
        font-size: 15px;
    }
    
    .accordion-header .travel-info :nth-child(2) {
        margin-inline: 12px;
    }

    .accordion-content {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: flex-start;
        background: var(--Blanco, #FFF);
        border-radius: 16px; 
        padding-inline: 16px;
        padding-block-start: 10px;
        width: 100%;
        height: auto;
    
    }

}






