.main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.travel-summary {
    display: flex;
    width: 380px;
    padding-block: 15px;
    padding-inline: 27px;
    border-radius: 16px;
    background-color: var(--Blanco, #FFF);
    height: fit-content;
}

.info-list {
    width: 612px;
}