.body {
    padding-block-end: 8%;
    background: var(--Azul-fondo, #E6ECF6);
    
}

.title {
    color: var(--azul-100, #3365B4);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: grid;
    place-items: center;
    padding: 2%;
}

.question-body, .other-body {
    margin-top: 5%;
    width: 100%;
    height: 95%;
    padding: 10% 10%;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    border-radius: 16px;
    background: var(--Blanco, #FFF);
    display: flex;
    place-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    justify-content: space-between;

}

.other-body {
    flex-direction: column;
    align-items: flex-start;
    
} 


.button {
    width: 300px;
    height: 40px;
    place-items: center;
    flex: 1 0 0;
    border-radius: 16px;
    background: var(--naranjo-100, #FF6500);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Blanco, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: default;
    margin-top: 5%;
}

.button:hover {
    background: var(--naranjo-80, #f8ccaf);
}

.title-message{
    color: var(--azul-100, #3365B4);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 108.333% */
    display: flex;
    place-items: center;
}

.title-contact{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}


.message{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: grid;
    place-items: center;
}

.image{
    width: 48px;
    height: 48px;
    display: grid;
    place-items: center;
}

.image-icon{
    padding: 5px 5px 5px 5px;
}

.text-bold{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.link-contacto {
    color: #000;
    text-decoration: none;
}


@media screen  and (max-width:480px) {
    .title {
        
        font-size: 24px;
        
       
    }
    .button{
        width: 200px;
    }
    
}

@media screen and (min-width: 768px ) and (max-width:991px){
    .button{
        width: 200px;
    }
    
    .title-message{
        font-size: 23px;
    }
   
    
}

