.menu-central {
  display: flex;
  justify-content: center;
  padding: 25px 20px 20px 20px; 
}

.bloque {
  background-color: #fff;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  /* max-width: 900px; */
  width: 104%;
}

.title-modify-data {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #222;
}

.title-data {
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
  color: #555;
}

.data-box {
  background-color: #f9f9f9;
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  padding: 10px 14px;
  color: #333;
  font-size: 1rem;
  min-height: 40px;
  display: flex;
  align-items: center;
}

.return {
  margin-top: 20px;
  display: inline-block;
  background-color: #ff7300;
  color: #fff;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  transition: background 0.2s ease;
}

.return:hover {
  background-color: #e26600;
}


