.container {
    width: 240px;
    height: 370px;
    flex-shrink: 0;
    fill: var(--Blanco, #FFF);
    border-radius: 20px;
    stroke-width: 1px;
    stroke: var(--gris-15, #D9D9D9);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-image: url("../../../public/img/icon/cuponera/Boleto.svg");
    margin-bottom: 20px;
    padding: 16px;
    display: flex;
}

.container .title {
    padding-top: 10px;
    padding-inline: 40px;
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
}

.container .title span {
    white-space: normal;
}

.container .sub-title {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container .sub-title-origen {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
    text-align: center;
}

.container .sub-title-origen span {
    white-space: normal;
    text-align: center;
}

.container .sub-title-origen b {
    color: var(--naranjo-100, #FF6500);
}

.container .condition-desc {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    align-items: center;
    text-align: center;
}

.container .condition-desc span {
    white-space: normal;
    text-align: center;
}

.container .condition-desc b {
    color: var(--naranjo-100, #FF6500);
}

.container .condition-desc .condition-type {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.container .condition-desc .condition-type div{
    display: flex;
    gap: 5px;
}

.container .price{
    color: var(--azul-100, #3365B4);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 108.333% */
    display: flex;
    justify-content: center;
}

.container .condition{
    padding-top: 10px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.img-little-origen{
    width: 24px;
    height: 24px;
}

.img-little{
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.dotted-line {
    margin-block: 10px;
    width: 100%;
    border-style: dashed;
    border-width: 1px; 
}

.button {
    margin-top: auto;
    margin-inline: auto;
    margin-bottom: 10px;
    display: flex;
    width: 180px;
    height: 32px;
    padding: 0px 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--naranjo-100, #FF6500);
    color: var(--Blanco, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    transition: ease 0.3s;
}

.button:hover {
    background: var(--naranjo-80, #f8ccaf);
}

.contenedor-cuponeras {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}