
.grupo-campos {
    margin-bottom: 5px;
}

.titulo-azul {
    color: var(--azul-100, #3365B4);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; 
}

.title-mascota-abordo {
    color: var(--azul-100, #3365B4);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: right;
    justify-content: right;
}

.label-titulo-busqueda-servicio {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-busqueda-servicio {  
    display: flex;
    width: 200px;
    height: 40px;
    padding: 0px 52px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid;
    background: var(--naranjo-100, #FF6500);

    color: var(--Blanco, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}

.button-busqueda-servicio:active {
    background: var(--naranjo-80, #f8ccaf); 
}

.loading-button {
    background: var(--naranjo-80, #f8ccaf) !important; 
    cursor: not-allowed !important;
}



/* VERSION NUEVA  */

.input {
    display: block !important;
}

.seleccion-servicio {
    margin-top: -120px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 8px 0px #d4dbec;
    border-radius: 16px;
    padding: 30px 30px 30px 30px;
    background-color: #fff;
    margin-inline: auto;
}

.input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.input-container img {
    width: 25px;
    height: 25px;
    margin-top: auto;
    margin-bottom: 20px;
}

@media screen and (width < 550px) {
    .input-container {
        flex-direction: column;
    }

    .input-container img {
        width: 35px !important;
        height: 35px !important;
        margin-block: 0 !important;
        margin-inline: auto !important;
    }
}

@media screen and (width < 768px) {
    .input-container img {
        width: 25px;
        height: 25px;
        margin-top: auto;
        margin-bottom: 10px;
    }
}

@media (max-width: 991px) {
    .seleccion-servicio {
      margin-top: -50px;
    }
}

@media (max-width: 767px) {
    .seleccion-servicio {
        margin-top: -50px;
    }
}

@media only screen and (max-width: 600px) {  
    .seleccion-servicio {
      margin-top: 25px;
    }
}

@media only screen and (min-width: 600px) {
    .seleccion-servicio {
      margin-top: 25px;
    }
}

@media only screen and (min-width: 992px) {
    .seleccion-servicio {
      margin-top: -80px;
    }
}

@media only screen and (min-width: 1200px) {
    .seleccion-servicio {
      margin-top: -110px;
    }
}